.bgcolor{

    background-color:azure;
}

h1,h2,h3,h4,h5{font-family: 'Raleway', sans-serif; text-align: center;}

p{font-family: 'Lora', serif; font-size: 25px;padding-top:20px; color:darkseagreen;}

a{font-family: 'Raleway', sans-serif; font-size: 30px; text-decoration: none; text-align: justify;}

.blue{ color:#2FBAF1;}

.logo{width:15%;
padding: 0;
margin-left: auto;
height: auto;}

.navbar{text-align: left;}
