.bgcolor{

    background-color:azure;
}

h1,h2,h3,h4,h5{font-family: 'Raleway', sans-serif;}

p{font-family: 'Lora', serif;}

a{font-family: 'Raleway', sans-serif; font-size: 25px; text-decoration: none;}

.blue{ color:#2FBAF1;}

.logo{width:15%; }

ul{list-style-type: none;}
